* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 250px;
  margin: 50px auto;
}
#form .form-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Error Message*/

#form .form-item p {
  font-size: 12px;
  display: none;
}


#form .form-item input {
  padding: 10px;
  width: 100%;
}
#form button {
  margin: 0 auto;
  width: 90px;
  padding: 8px 16px;
  cursor: pointer;
}

/**/

.form-input-error {
  border: none;
  border: 1px solid red;
}
.form-input-succes {
  border: none;
  border: 1px solid green;
}
.error-text {
  color: red;
}
.success-text {
  color: green;
}
